# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.log
local_settings.py

# Environment Variables (NEVER push API keys)
.env

# IDE & OS files
.vscode/
.idea/
.DS_Store
